/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2015, 1:34:41 PM
    Author     : Kelsey 
*/

.jumbotron {
    text-align: center;
}

img.center {
     display: block;
    margin-left: auto;
    margin-right: auto
}

.center {
    text-align: center;
    font-family: awesome;
}

body {
    padding: 65px;
}

.form-inline {
    text-align: center;
}
